<p>Hey {{ name }},</p>
<p>Your account is successfully created. Below are your credentials to login.</p>
<p>
    <span>email: your_email@gmail.com</span>
    <span>password: your_password</span>
</p>
